{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <div class="row">
              <li>
              <i class="fa-li fa fa-comments-o fa-2x" aria-hidden="true"></i>
              <form method="POST" action="http://formspree.io/ariel.muldoon@gmail.com">
                <input name="email" placeholder="Your email" type="email">
                <textarea name="message" placeholder="Your message"></textarea>
                <button type="submit">Send</button>
              </form>
              </li>
            </div>
            </div>

    {{ partial "sidebar" . }}
{{ partial "footer" . }}
