{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}

<!-- Contact widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    <h3>Let's chat!</h3>

    <ul class="fa-ul" itemscope>

      {{ with $.Site.Params.email }}
      <li>
        <i class="fa-li fa fa-comments-o fa-2x" aria-hidden="true"></i>
        <form action="https://formspree.io/{{ . }}" method="POST">
          <label for="name">Your name: </label>
          <input type="text" name="name" required="required" placeholder="here"><br>
          <label for="email">Your email: </label>
          <input type="email" name="_replyto" required="required" placeholder="here"><br>
          <label for="message">Your message:</label><br>
          <textarea rows="4" name="message" id="message" required="required" class="form-control" placeholder="I can't wait to read this!"></textarea>
          <input type="hidden" name="_next" value="/html/thanks.html" />
          <input type="submit" value="Send" name="submit" class="btn btn-primary btn-outline">
          <input type="hidden" name="_subject" value="Website message" />
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </li>
      {{ end }}

  </div>
</div>
